[Unit]
Description=Kill the video wallpaper before suspending
Before=sleep.target

[Service]
User=mihranmashhud
Type=forking
Environment=XAUTHORITY=/home/mihranmashhud/.Xauthority
ExecStartPre=-/home/mihranmashhud/scripts/set-video-wallpaper -k
ExecStart=-sleep 5

[Install]
WantedBy=sleep.target
