[Unit]
Description=Reapply video wallpaper on resume
After=sleep.target
After=kill-wallpaper-on-suspend.service

[Service]
User=mihranmashhud
Type=forking
Environment=XAUTHORITY=/home/mihranmashhud/.lyxauth
ExecStartPre=-sleep 5
ExecStart=-/home/mihranmashhud/scripts/set-video-wallpaper -uc

[Install]
WantedBy=suspend.target
